*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
apidoc/Doxyfile
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libxmlmm.pc
ltmain.sh
missing
src/libxmlmm.la
test/test.exe
*.ncb
*.suo
*.vcproj.*.user
Debug
Release